@{
    ViewData["Title"] = "FrontPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="d-flex" id="wrapper">
    <partial name="_AdminNavbar" />
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>
        </nav>
        <h2>Admin Welcome Page</h2>
    </div>
</div>