<!-- Footer -->
<footer class="text-center footer bg-dark bg-primary">
    <div class="footer-above">
        <div class="container-fluid">
            <div class="row">
                <div class="footer-col col-lg-4 col-md-6 col-sm-6">
                    <h4 class="text-capitalize"><span style="color:red;">Online/</span>Parts</h4>
                    <i class="fa fa-wrench fa-3x"></i>
                    <br>
                    <br><i class="fa fa-phone"></i><span style="color:white;">863-216-8903</span>
                    <br><i class="fa fa-home"></i><span style="color:white;">Mon - Sat 10am to 5pm</span>
                    <br><i class="fa fa-envelope"></i><a href="mailto:electronicsmf@aol.com"><span style="color:white;">Electronicsmf@aol.com</span></a>
                </div>
                <div class="footer-col col-lg-4 col-md-6 col-sm-6">
                    <h4 class="text-capitalize">Around the Web</h4>
                    <ul class="social-network social-circle">
                        <li>
                            <a href="" class="icoFacebook" title="Facebook"><i class="fa fa-fw fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="" class="icoGoogle" title="Google"><i class="fa fa-fw fa-google-plus"></i></a>
                        </li>
                        <li>
                            <a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-fw fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="" class="icoYelp" title="yelp"><i class="fa fa-fw fa-yelp"></i></a>
                        </li>
                        <li>
                            <a href="#" class="icoDribbble" title="Dribbble"><i class="fa fa-fw fa-dribbble"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col col-lg-4 col-md-6 col-sm-6">
                    <h4 class="text-capitalize">Payments</h4>
                    <img src="~/Content/images/payments.png" class="img-fluid" alt="credit_card_payment">
                </div>
            </div><!--row-->
        </div><!--container-->
    </div><!--footer above-->
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>&copy; @DateTime.Now.Year - Orlando Appliance Repair.All Rights Reserved.</p>
                    <br /><span>Website design by <a href="http://icreatesites4u.com/"><strong>icreatesites4u.com</strong></a></span>
                </div>
            </div>
        </div>
    </div>
</footer>
<a class="back-to-top hidden-xs-down show" id="back-to-top"><i class="fa fa-3x fa-angle-up"></i></a>