<!-- header -->
<header>
    <!-- top header -->
    <div class="top-header bg-secondary pt-2 pb-1">
        <div class="container">
            <div class="row align-items-center">
                <!-- social icons -->
                <div class="col-lg-6 col-md-6 text-center text-md-left">
                    <span class="text-white">Connect With Us:</span>
                    <ul class="list-inline d-inline-block">
                        <li class="list-inline-item"><a class="text-white d-inline-block p-2" href="#"><i class="fa fa-facebook"></i></a></li>
                        <li class="list-inline-item"><a class="text-white d-inline-block p-2" href="#"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a class="text-white d-inline-block p-2" href="#"><i class="fa fa-rss"></i></a></li>
                        <li class="list-inline-item"><a class="text-white d-inline-block p-2" href="#"><i class="fa fa-google"></i></a></li>
                        <li class="list-inline-item"><a class="text-white d-inline-block p-2" href="https://www.yelp.com/biz/orappliance-repair-davenport?osq=fixit+appliance+repair"><i class="fa fa-yelp"></i></a></li>
                    </ul>
                </div>
                <!-- mail and phone -->
                <div class="col-lg-6 col-md-6 text-md-right text-center">
                    <ul class="list-inline">
                        <li class="list-inline-item mx-0 border-right border-secondary"><a class="text-white d-inline-block px-lg-3 px-2" href="mailto:Electronicsmf@aol.com">Electronicsmf@aol.com</a></li>
                        <li class="list-inline-item mx-0"><a class="text-white d-inline-block px-lg-3 px-2" href="callto:8632168903">Call Us Now: <span class="text-primary">863-216-8903</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- /top header -->
    <partial name="_Navbar">
</header>