@model IEnumerable<Repair>

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex" id="wrapper">

    <partial name="_AdminNavbar" />
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">

        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>
            <a class="btn btn-warning float-right" asp-controller="Repairs" asp-action="Edit">Add-Repair</a>
        </nav>
        <div class="container-fluid">
            <div class="text-center mt-3">
                <h2>Repair Type</h2>
                <hr />
            </div>
            <div class="row bg-light p-2">
                <div class="table-responsive">
                    <table id="repairs" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th>Repair Type</th>
                                <th>Location</th>
                                <th>Description</th>
                                <th>Area Cover</th>
                                <th>Image</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
            $(document).ready(function () {
                var repairs = $("#repairs").DataTable({
                    "ajax": {
                        "url": "/Admin/repairs/GetAll"
                    },
                    "columns": [
                        { "data": "repairType", "width": "10%" },
                        { "data": "location", "width": "10%" },
                        { "data": "description", "width": "30%" },
                        { "data": "areaCover", "width": "30%" },
                        {
                            "data": "imageUrl",
                            "render": function (data) {
                                var img = '/content/blog/' + data;
                                return '<img src="' + img + '" height="50px" width="50px" >';
                            }
                        },
                        {
                            "data": "repair",
                            "render": function (data, type, repair) {
                                return "<a class='btn btn-outline-success' href='/Admin/repairs/edit/" + repair.id + "'>Edit</a>";
                            }
                        },
                        {
                            "data": "id",
                            "render": function (data) {
                                return "<button class='btn btn-outline-danger js-delete' data-repair-id=" + data + ">Delete</button>";
                            }, "width": "40%"
                        }
                    ]
                });
                $("#repairs").on("click", ".js-delete", function () {
                    var button = $(this);
                    bootbox.confirm("Are you sure you want to delete this repair?", function (result) {
                        if (result) {
                            $.ajax({
                                url: "/Admin/repairs/GetAll" + button.attr("data-repair-id"),
                                method: "DELETE",
                                success: function () {
                                    button.parents("tr").remove();
                                }
                            });
                        }
                    });
                });
            })
    </script>
}