@model IEnumerable<Post>

@{ var title = "Post"; }
<div class="d-flex" id="wrapper">
    <partial name="_AdminNavbar" />
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">

        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>
            <a class="btn btn-warning float-right" asp-controller="Post" asp-action="Upsert">Add-Post</a>
        </nav>
        <div class="container-fluid">
            <div class="text-center mt-3">
                <h2>@title</h2>
                <hr />
            </div>
            <div class="table-responsive">
                <table id="mypost" class="table table-stripped table-hover">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Title</th>
                            <th>Body</th>
                            <th>Description</th>
                            <th>Category</th>
                            <th>Tags</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
</div>
@section scripts {
    <script>

        $(document).ready(function () {
            var mypost = $('#mypost').DataTable({
                ajax: {
                    url: '/Admin/Post/GetAll'
                },
                columns: [
                    { data: "id" },
                    { data: "title" },
                    { data: "body" },
                    { data: "description" },
                    { data: "category" },
                    { data: "tags" },
                    {
                        data: "id",
                        render: function (data) {
                            return "<a class='btn btn-success' href='/Admin/Post/Upsert/" + data + "'>Edit</a>";
                        }
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn btn-danger js-delete' data-post-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });
            $("#mypost").on("click", ".js-delete", function () {
                var button = $(this);
                bootbox.confirm("Are you sure you want to delete this message?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "api/posts/" + button.attr("data-message-id"),
                            method: "DELETE",
                            success: function () {
                                button.parents("tr").remove();
                            }
                        })
                    }
                })
            });
        });
    </script>
}