@model PostViewModel

@{

}

<div class="d-flex" id="wrapper">

    <partial name="_AdminNavbar" />
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">

        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>
            <a class="btn btn-info" asp-controller="Post" asp-action="Index">Go Back To List</a>
        </nav>
        <div class="container-fluid">
            <form asp-controller="Post" asp-action="Upsert" method="post" enctype="multipart/form-data">
                <input asp-for="Id" type="hidden" />
                <div class="form-group">
                    <label>Title</label>
                    <input class="form-control" asp-for="Title" />
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <input class="form-control" asp-for="Description" />
                </div>
                <div class="form-group">
                    <label>Tags</label>
                    <input class="form-control" asp-for="Tags" />
                </div>
                <div class="form-group">
                    <label>Category</label>
                    <select class="form-control" asp-for="Category">
                        <option value="Repair">Appliance-Repair</option>
                        <option value="Tips">Tips</option>
                        <option value="Cleaning">Cleaning</option>
                        <option value="New">New-Arrival</option>
                        <option value="Parts">New-Parts</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Body</label>
                    <textarea class="form-control" id="editor" asp-for="Body"></textarea>
                </div>
                <div class="form-group">
                    <label>Image</label>
                    <br />
                    <input class="btn btn-primary" asp-for="CurrentImage" type="hidden" />
                    <input class="btn btn-outline-info" asp-for="Image" />
                </div>
                <input class="btn btn-primary btn-group-lg" type="submit" value="Submit" />
            </form>
        </div>
    </div>
</div>